@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700);

body{
  font-style: "Maven Pro", "Ariel";
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #46849C;
  background-color: #f5f5f5;
}


header{
  background: url(../images/cafe3.jpeg) no-repeat center;
  background-size: cover;
  padding: 200px 0;

}


nav{
  background-color: #FAC833;
  height: 70px;
  padding: 14px; 0;
}
nav a{
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
  padding: 0 15px;
}

a:hover{
  color: #46849C;
}


section{
  background-color: #C1D4D2;
  margin: 0 auto;
  padding: 20px 0;
  width: 70%;
}
h2{
  font-size:36px;
}
section p{
  width: 60%;
  margin: 15px auto;
}

section img{
  width: 780px;
  display: block;
  margin: 15px auto;
}

.icon{
  width: 50px;
}
iframe{
  display: box;
  margin: 15px auto;
}

div a .icon{
  display: inline-block;
 padding: 0 5px;
}


footer{
  background-color: #FAC833;
  color: #FFF;
  margin: 0;
}


/*-----------------------------media query-----------------*/
.trigger{
  width: 50px;
  display: none;
}
@media screen and (max-width: 720px){
img, iframe{
  max-width: 100%;
}
header{
  height: 150px;
}
h1{
  width:80%;
}
nav a{
  display: block;
  font-size: 20px;
}
.trigger{
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
}
nav{
  display: none;
}
}


@media screen and (min-width: 722px){
img, iframe{
  max-width: 100%;
}
  .trigger{
    display: none;
  }
  nav{
    display: block;
  }
}

